@import "~bootstrap/scss/bootstrap";
@import "~xterm/css/xterm";

html, body {
  height: 100%;
}
.tab-item {
  width: 100%;
  height: 80px;
}
.head {
  width: 37px;
  height: 37px;
  background: url('/assets/img/steve.png');
}
