<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>Danh sách BOT</title>
</head>
<body>
  <div class="toast" style="position: absolute; top: 20px; right: 20px; min-width: 250px; z-index: 9999">
    <div class="toast-header">
      <span style="width: 20px; height: 20px" class="bg-danger rounded mr-2">&nbsp;&nbsp;&nbsp;</span>
      <strong id="toastTitle" class="mr-auto"></strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="toastMsg" class="toast-body">
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 p-0 border-right">
          <nav class="navbar navbar-light bg-secondary">
            <span class="navbar-brand mb-0 h1 text-white">Danh sách BOT</span>
          </nav>
          <ul class="nav flex-column nav-pills mb-5" id="botList" role="tablist">
            <% for (const [i, bot] of botList.entries()) { %>
            <li class="nav-item">
              <a class="nav-link rounded-0 border-bottom p-3" id="bot-<%-i%>-tab" data-toggle="pill" data-username="<%- bot.username %>" href="#bot-<%-i%>" role="tab">
                <!-- <img class="head mr3" onerror="this.src='/assets/img/steve.png'" src="https://skin.aemine.vn/resources/server/skinRender.php?vr=0&hr=0&headOnly=true&ratio=4&user=<%= bot.username %>"> -->
                <img class="head mr3" onerror="this.src='/assets/img/steve.png'" src="/assets/img/steve.png">
                <%= bot.username %>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="col-10 p-0 h-100">
          <div class="tab-content h-100" id="botListContent">
            <!-- <div id="bot-0" class="tab-pane fade" role="tabpanel"></div> -->
            <% for (const [i, bot] of botList.entries()) { %>
              <div class="tab-pane fade show h-100 overflow-hidden active" id="bot-<%-i%>" role="tabpanel"></div>
            <% } %>
          </div>
        </div>
    </div>
</div>
  <script src="/assets/js/runtime.js"> </script>
  <script src="/assets/js/vendor.js"> </script>
  <script src="/assets/js/main.js"> </script>
</body>
</html>
