<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/login.css">
  <style>
    html, body {
    height: 100%;
  }
  body {
    background: rgb(2,0,36);
    background: linear-gradient(12deg, rgba(2,0,36,1) 0%, rgba(89,27,153,1) 50%, rgba(39,96,189,1) 100%, rgba(45,111,195,1) 100%, rgba(0,212,255,1) 100%);
  }
  </style>
  <title>Login</title>
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="jumbotron">
            <div class="card">
              <div class="card-body">
                <div class="text-center mb-4">
                  <h1>Login BOT</h1>
                </div>
                <%- include('./error') %>
                <form action="login" method="POST">
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="password" type="password" name="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
  <script src="/assets/js/vendor.js" ></script>
  <script src="/assets/js/login.js" ></script>
</body>
</html>
